@using Microsoft.AspNetCore.Identity
@using YavlenaPlus.Services.Contracts
@model List<YavlenaPlus.Data.Models.Favorite>
@inject IOffersService _offerService
@using YavlenaPlus.Data.Models
@{
    ViewData["Title"] = "Моите любими оферти";
}
<h2>Бележник</h2>

@*@{ var allOffers = _offerService.GetAllOffers();}*@
@{
    //OffersService offersService = new OffersService();
}

@if (Model.Count > 0)
{
    foreach (var token in Model.OrderByDescending(x=>x.Id))
    {
        var item = await _offerService.GetOfferByIdAsync(token.OfferId);
        var url = $"/Offers/details/{item.Id}";
        <table width="660" cellspacing="0" cellpadding="0" border="0" style="margin-bottom:0px; border-top:#990000 1px solid; background:url(); background-position:bottom; background-repeat:repeat-x;">
            <tbody>

                <tr><td colspan="4"><img src="" width="1" height="10" border="0"></td></tr>
                <tr>
                    <td rowspan="2" valign="top" width="220">
                        <table width="212" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                                <tr>
                                    <td align="center" valign="top"><a href="@url" class="photoLink"><img src="@item.Picture" width="200" height="150" border="0"></a></td>
                                </tr>
                            </tbody>
                        </table>
                        @*<a title="@item.PhoneOfOwner" style="tab-size:1" href="tel:@item.PhoneOfOwner">
                            @item.PhoneOfOwner<img width="50" height="40" src="~/pictures/callme.jpg" />
                        </a>*@
                    </td>
                    <td valign="top" width="270" height="40" style="padding-left:4px">
                        <div class="price">>@item.Price EUR<a id="star_1b154023672298530" onclick="javascript:notepad_act('1b154023672298530','') ; return false;" title="Добави в бележника." class="favListItem"></a> </div><br>
                        <a href="@item.Link" class="lnk1">Продава @item.Type</a><br>
                        <a href="@item.Link" class="lnk2">@item.Location</a>
                    </td>
                    <td align="right" valign="top" width="60" height="40">
                    </td>
                    <td align="right" valign="top" width="110" height="40">
                        &nbsp;
                    </td>
                    <td align="right" valign="top" width="110" height="40">
                        &nbsp;
                        <a>

                            <div>
                                <img title="Брой коментари" onclick="" width="100" height="80" src="~/pictures/commentsIcon.png" alt="Comments icon" />
                                <div title="Comment`s count" style="transform:translate(-60%,-180%);border-radius:90px;font-style:oblique; font-size:30px; color:seagreen; background-color:black; background:round">
                                    @_offerService.GetCountOfCommentsForOffer(item.Id)
                                </div>

                            </div>
                        </a>
                        <div style="background-color:aqua; width:100px; height:80px">
                            <img title="% възвръщаемост*"  style="background-color:black; border:3px ridge black" src="~/pictures/percent.jpg" width="100" height="80" alt="Alternate Text" />
                            <div style="position:page; top:80%; left:50%; align-content:center; transform:translate(-80%,-170%);font-size:25px">@_offerService.GetPercentOfInternalRateOfReturn(item)</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="520" colspan="9" height="50" style="padding-left:4px">
                        <div style="display:block" class="table-hover">
                            <p>@item.ShortDescription</p>
                        </div>

                    </td>
                </tr>

                <tr><td colspan="4"><img src="" width="1" height="5" border="0"></td></tr>
                <tr>
                    <td colspan="4">
                        <table width="660" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                                <tr>
                                    <td width="330" style="padding-left:4px">
                                        <a href="@item.Link" class="lnk3">Линк към оферта</a> | <a asp-area="" asp-controller="Offers" asp-action="AddToMyFavoriteOffers" asp-route-id="@item.Id">Добави в бележника</a>
                                    </td>
                                    <td width="330" align="right">
                                        <a title="@item.PhoneOfOwner" style="tab-size:1" href="tel:@item.PhoneOfOwner">
                                            @item.PhoneOfOwner<img width="50" height="40" src="~/pictures/callme.jpg" />
                                        </a>
                                        @*<a href="/AddToMyFavoriteOffers/@item.Id" class="lnk3" onclick="function myfunction(id) { console.log(id)}">Маркиране/Размаркиране на Обявата</a> <a href="javascript:;" class="lnk3"><img name="p1b154023672298530" src="" width="15" height="14" border="0" alt="МАРКИРАЙ ОБЯВАТА" onclick="javascript:mark(p1b154023672298530)"></a>*@
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr><td colspan="4"><img src="" width="1" height="10" border="0"></td></tr>
            </tbody>
        </table>
    }
}
else
{
    <h3>НЯМА ОФЕРТИИИИИИИИИ ;(</h3>
}
<script>
    let elements = document.getElementsByTagName("p");
    for (var i = 0; i < elements.length; i++) {
        let element = elements[i];
        let fullDescr = element.innerHTML;
        let shortDescr = fullDescr.substring(0, 100);
        element.innerHTML = shortDescr;
        let isShortDescr = true;
        elements[i].addEventListener("click", function () {
            if (isShortDescr) {
                element.innerHTML = fullDescr;
                isShortDescr = false;
            } else if (!isShortDescr) {
                element.innerHTML = shortDescr;
                isShortDescr = true;
            }
        })
    }
</script>